# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
*.iml
.directory
.idea/
.DS_Store
bin/

.classpath
.project
**/.settings/**che
.settings/

!pdfDocs/.gitkeep
!pdfDocs/
pdfDocs/*

!xmlFiles/.gitkeep
!xmlFiles/
xmlFiles/*

LuceneIndex/.gitkeep
!LuceneIndex/
LuceneIndex/*

docker/LuceneIndex/.gitkeep
!docker/LuceneIndex/
docker/LuceneIndex/*

!docker/pdfDocs/.gitkeep
!docker/pdfDocs/
docker/pdfDocs/*

!docker/xmlFiles/.gitkeep
!docker/xmlFiles/
docker/xmlFiles/*