.ui-autocomplete .ui-menu-item:hover,
.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #428bca !important;
  background-image: none;
  color: #fff;
  border: none;
}

.ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .2em .4em;
  line-height: 1.5;
  zoom: 1;
}


#uploaderForm, #uploaded-files-forms, #show-file-form {
	 margin: auto;
	 width: 40em;
	
}

.file-post-form button[type="submit"], #indexing input[type="submit"]{
	float: right;
}


.file-post-form table td {
	padding: .4em .5em;
}
.show-index-dir {
	float: right;
}


#indexing td {
	padding: .4em .5em;
}