<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div id="footer" th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            <span sec:authorize="isAuthenticated()">
                | <span class="glyphicon glyphicon-user" sec:authentication="name">  </span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out <span class="glyphicon glyphicon-log-out"></span></a>
            </span>


            <script src="/jquery/jquery.min.js"></script>
            <script src="/bootstrap/bootstrap.min.js"></script>
            <script src="/jquery/jquery-ui.js"></script>
            <script src="/main.js"></script>
        </footer>
    </div>

</div>
</body>
</html>