<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="/bootstrap/bootstrap.min.css"></link>
<link rel="stylesheet" href="/jquery/jquery-ui.css"/>
<link rel="stylesheet" href="/main.css"/>
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/jquery/jquery-ui.js"></script>

</head>

<body>

<div>
  <h2 th:text="${filename}"></h2>
</div>

<div>

  <form method="POST" th:action="@{/update-file/} + ${{filename}}" th:object="${file}">



    <textarea rows="10" cols="100" th:title="${filename}" th:field="*{text}" th:type="text" th:inline="text">[[${file.text}]]
  </textarea>



    <br/>

    <div>
      <input type="submit" value="Update" />

      <a th:href="@{/uploaded-files}">
        <input type="button" value="Cancel"/>
      </a>
    </div>
  </form>
</div>





</body>
</html>