<html xmlns:th="http://www.thymeleaf.org">

<head>
<!--  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/jquery/jquery-ui.css"/>
  <link rel="stylesheet" href="/main.css"/>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/bootstrap.min.js"></script>
  <script src="/jquery/jquery-ui.js"></script>-->
  <title>Digital Text Forensics</title>
</head>

<body>
<div th:include="fragments/header"/>

<div class="container-fluid" id="show-file-form">

  <div>
    <h2 th:text="${filename}"></h2>
  </div>

  <div>

    <form method="POST" th:action="@{/update-file/} + ${{filename}} + '?site=' + ${site}" th:object="${file}">



    <textarea rows="10" cols="100" th:title="${filename}" th:field="*{text}" th:type="text" th:inline="text">[[${file.text}]]
  </textarea>

      <div style="margin-top: 5px">

        <button class="btn btn-secondary" type="submit" >Update <span class="glyphicon glyphicon-upload"></span></button>

        <a th:href="@{'/' + ${site}}" role="button" class="btn btn-secondary">Cancel <span class="glyphicon glyphicon-remove"></span></a>
      </div>

    </form>
  </div>

  <div th:include="fragments/footer"/>
</div>




</body>
</html>