<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Not Found File</title>
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css"></link>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/bootstrap.min.js"></script>
</head>

<body>
<div class="container-fluid">
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="alert alert-danger" role="alert">
            PDF File not found
          </div>
        </div>
        <div class="modal-footer">
          <a th:href="${redirect}" type="button" class="btn btn-primary" role="button">OK</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(window).on('load', function () {
    $('#myModal').modal('show');
  });
  $('#myModal').modal({
    backdrop: 'static',
    keyboard: false
  })
</script>

</body>
</html>