<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Search Digital Text Forensics"</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/jquery/jquery-ui.css"/>
  <link rel="stylesheet" href="/main.css"/>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/bootstrap.min.js"></script>
  <script src="/jquery/jquery-ui.js"></script>

</head>
<body>

<div class="container-fluid" style="padding: 0px 15% 25px 15%;">
  <div class="row">
    <div class="text-center">
      <img style="margin: 15px; width:50%" src="/logo.png" alt="uni logo"></img>
    </div>
    <h1 class="text-center">Search Digital Text Forensics</h1>
    <form class="input-group col-md-12" action="/" method="get">
      <input type="text" id="search" class="form-control" placeholder="Suchen"
             name="query"
             autocomplete="on"
             th:value="${query}"/>
      <span class="input-group-btn">
						<button class="btn btn-primary" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
    </form>
  </div>
</div>


<div class="container-fluid" style="padding: 0px 15% 25px 15%">
  <div style="background-color: red; width: 100%;"
       th:if="${#lists.isEmpty(searchResultPage.resultsOnPage) and not #strings.isEmpty(query) }">
    <div style="margin: 15px">
      <h3>No Results</h3>
      <p>For Query "<span th:text="${query}"></span>"</p>
    </div>
  </div>
  <div style="width: 100%;" th:each="result : ${searchResultPage.resultsOnPage}">

    <div style="margin: 10px" class="panel panel-default">
      <div class="panel-body">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title" style="margin-top: 0px"><a th:href="${result.webUrl.href}"
                                                              th:text="${result.title}"></a></h3>

            <h5 style="margin: 0px" class="card-subtitle mb-2 text-muted"><b>Autor: </b><span
                th:text="${result.author}"></span></h5>
            <h5 style="margin-top: 1px" class="card-subtitle mb-2 text-muted"><b>Veröffentlichkeitsdatum: </b><span
                th:text="${result.date}"></span></h5>
            <p class="card-text" th:utext="${result.snippet}"></p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="container-fluid"
     th:if="${searchResultPage.nextPage != null or searchResultPage.previousPage != null or (namedPageLinks != null and
    not #lists.isEmpty(namedPageLinks))}">

  <nav class="text-center">
    <ul class="pagination">
      <li th:if="${searchResultPage.previousPage != null}"><a
          th:href="${searchResultPage.previousPage.href}" aria-label=" Zurück"><span
          aria-hidden="true">&laquo;</span></a>
      </li>

      <li th:if="${searchResultPage.firstPageLink != null}">
        <a th:href="${searchResultPage.firstPageLink.href}">1 <span class="sr-only"></span></a>
      </li>

      <li th:each="namedPageLink: ${searchResultPage.namedPageLinksBefore}">
        <a th:href="${namedPageLink.href}" th:text="${namedPageLink.rel}"></a>
      </li>

      <li th:if="${searchResultPage.lastPageLink != null}">
        <a th:href="${searchResultPage.lastPageLink.href}" th:text="${searchResultPage.lastPageLink.rel}"></a>
      </li>

      <li class="active">
        <a th:text="${searchResultPage.page}"></a>
      </li>

      <li th:each="namedPageLink: ${searchResultPage.namedPageLinksAfter}">
        <a th:href="${namedPageLink.href}" th:text="${namedPageLink.rel}"></a>
      </li>

      <li th:if="${searchResultPage.nextPage != null}">
        <a th:href="${searchResultPage.nextPage.href}" aria-label="Weiter"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </ul>
  </nav>
</div>

</body>
<script src="/main.js"></script>
</html>