<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/jquery/jquery-ui.css"/>
  <link rel="stylesheet" href="/main.css"/>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/bootstrap.min.js"></script>
  <script src="/jquery/jquery-ui.js"></script>

</head>
<body>

<div class="container-fluid" id="uploaded-files-forms">
    <div style="margin: 15px;">
          <a th:href="@{/}" role="button" class="btn btn-secondary pull-right">Home <span class="glyphicon glyphicon-home"></span></a>
      <a th:href="@{/upload}" role="button" class="btn btn-secondary pull-right">Uploader <span class="glyphicon glyphicon-upload"></span></a>
    </div>

  <div>
    <h2>Data to be indexed</h2>
  </div>
  <p><label><input type="checkbox" onClick="toggle(this)" id="checkAll"/> Check all</label></p>

  <div>

    <form method="POST" id="indexing" th:action="@{/indexing}" th:object="${files}">

      <table>
        <tr th:each="file : ${files}">
          <td><input type="checkbox" name="files"
                     th:value="${file} " />
            <a th:href="@{/show-pdf/} + ${{file}}">
              <label th:text="${file}"></label>
            </a>
          </td>

          <td>
            <a th:href="@{/show-file/} + ${{file}} + '?site=uploaded-files'">
              <input class="btn btn-secondary" type="button" value="Edit XML-file"/>
            </a>
            <a th:href="@{/delete-file/} + ${file}">
                <input class="btn btn-secondary" type="button" value="Delete PDF"/>
            </a>
          </td>
        </tr>
      </table>

      <br/>

      <div th:if="${not #lists.isEmpty(files)}">
        <input class="btn btn-secondary" type="submit" value="Add files to index!"/>
      </div>
    </form>
  </div>


  <div th:if="'${message}' and '${refiles}'">
    <h2 th:text="${message}"/>
    <div>
      <ul>
        <li th:each="file : ${refiles}">
          <span th:text="${file}" />
        </li>
      </ul>	
    </div>
  </div>

  <div th:if="'${message2}'">
    <h2 th:text="${message2}"/>
  </div>

<!-- 
  <div>
    <a th:href="@{/upload/}">
      <input type="button" value="To file upload"/>
    </a>
  </div>
 -->

</div>
<script src="/main.js"></script>
</body>
</html>