<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/jquery/jquery-ui.css"/>
  <link rel="stylesheet" href="/main.css"/>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/bootstrap.min.js"></script>
  <script src="/jquery/jquery-ui.js"></script>

</head>

<body>

<div class="container-fluid">

  <div>
    <h2>PDF file upload</h2>
  </div>
  <div>
    <form method="POST" enctype="multipart/form-data" th:action="@{/upload}" th:object="${metaData}">
      <table>
        <tr><td>File to upload:</td><td><input type="file" accept="application/pdf" name="file" /></td></tr>
      </table>

      <br/>
      <div><input type="submit" value="Upload" /></div>
    </form>
  </div>

  <div th:if="${message}">
    <h2 th:text="${message}"/>
  </div>


  <div th:if="${file}">
    <div>
      <h2>Show metadata</h2>
    </div>
    <span th:text="${filename}"></span>
    <a th:href="@{/show-file/} + ${{file}} + '?site=upload'">
      <input type="button" value="Show metadata file"/>
    </a>
  </div>

  <br/>
  <form th:action="@{/uploaded-files} " method="get">
    <button type="submit">
      <i>Data to be indexed</i>
    </button>
  </form>
</div>

</body>
</html>