<html xmlns:th="http://www.thymeleaf.org">

head>
<link rel="stylesheet" href="/bootstrap/bootstrap.min.css"></link>
<link rel="stylesheet" href="/jquery/jquery-ui.css"/>
<link rel="stylesheet" href="/main.css"/>
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>
<script src="/jquery/jquery-ui.js"></script>

</head>

<body>

<div>
  <form method="POST" enctype="multipart/form-data" th:action="@{/upload}" th:object="${metaData}">
    <table>
      <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
    </table>

    <div>
      <h2>Add metadata</h2>
    </div>
    <div>
      <table>
        <tr><td>Author:</td><td><input type="text" th:field="*{author}" placeholder="Author" /></td></tr>
        <tr><td>Date of publication:</td><td><input type="text" th:field="*{DateOfPublication}" placeholder="Date of publication" /></td></tr>
      </table>

    </div>
    <div><input type="submit" value="Upload" /></div>
  </form>
</div>

<div th:if="${message}">
  <h2 th:text="${message}"/>
</div>
<div>
  <ul>
    <li th:each="file : ${files}">
      <a th:href="${file}" th:text="${file}" />
    </li>
  </ul>
</div>

<br/>
<form th:action="@{/uploaded-files}" method="get">
  <button type="submit">
    <i>Data to be indexed</i>
  </button>
</form>

</body>
</html>