<html xmlns:th="http://www.thymeleaf.org">

<head>

  <title>Digital Text Forensics</title>
</head>

<body>
<div th:include="fragments/header"/>

<div class="container-fluid" id="uploaderForm">
  <div style="margin: 15px;">

    <a th:href="@{/}" role="button" class="btn btn-secondary pull-right">Home <span class="glyphicon glyphicon-home"></span></a>
    <a th:href="@{/admin/uploaded-files}" role="button" class="btn btn-secondary pull-right">Indexer <span class="glyphicon glyphicon-refresh"></span></a>

  </div>

  <div>
    <h2>PDF File Upload</h2>
  </div>
  <div class="file-post-form">
    <form method="POST" enctype="multipart/form-data" th:action="@{/upload}" th:object="${metaData}">
      <table>
        <tr><td>Choose a local file:</td><td><input class="btn btn-secondary" type="file" accept="application/pdf" name="file" /></td></tr>
      </table>
      <i>The content of the paper will be extracted and compared against an existing meta-data database and saved in XML-format.
        You are given the opportunity to correct this data if need be in the next step.</i>

      <br/>


      <div><button class="btn btn-secondary" type="submit" value="Upload">Upload <span class="glyphicon glyphicon-upload"></span>	</button></div>


    </form>
  </div>



  <div th:if="${message}">
    <h2 th:text="${message}"/>
  </div>


  <div th:if="${file}">
    <div>
      <h2>Edit Meta-Data</h2>
    </div>
    <span th:text="${filename}"></span>
    <a th:href="@{/show-file/} + ${{file}} + '?site=upload'">
      <input class="btn btn-secondary" type="button" value="Show metadata file"/>
    </a>
  </div>

  <br/>
  <h2>Index New Files</h2>
  <i>Choose and edit the files you want to index.</i>
  <form th:action="@{/admin/uploaded-files} " method="get" class="show-index-dir">
    <button class="btn btn-secondary" type="submit">
      Show Files of Index Directory
    </button>
  </form>

  <div th:include="fragments/footer"/>
</div>

</body>
</html>