<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/jquery/jquery-ui.css"/>
  <link rel="stylesheet" href="/main.css"/>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/bootstrap.min.js"></script>
  <script src="/jquery/jquery-ui.js"></script>

</head>
<body>

<div class="container-fluid">
  <div>
    <h2>Data to be indexed</h2>
  </div>

  <div>

    <form method="POST" id="indexing" th:action="@{/indexing}" th:object="${files}">

      <table>
        <tr th:each="file : ${files}">
          <td><input type="checkbox" name="files"
                     th:value="${file} " />
            <a th:href="@{/show-pdf/} + ${{file}}">
              <label th:text="${file}"></label>
            </a>
          </td>

          <td>
            <a th:href="@{/show-file/} + ${{file}}">
              <input type="button" value="Show metadata file"/>
            </a>
          </td>
        </tr>
      </table>

      <br/>

      <p><label><input type="checkbox" onClick="toggle(this)" id="checkAll"/> Check all</label></p>

      <div th:if="${not #lists.isEmpty(files)}">
        <input type="submit" value="Indexing"/>
      </div>
    </form>
  </div>


  <div th:if="'${message}' and '${refiles}'">
    <h2 th:text="${message}"/>
    <div>
      <ul>
        <li th:each="file : ${refiles}">
          <span th:text="${file}" />
        </li>
      </ul>
    </div>
  </div>

  <div th:if="'${message2}'">
    <h2 th:text="${message2}"/>
  </div>

  <div>
    <a th:href="@{/upload/}">
      <input type="button" value="To file upload"/>
    </a>
  </div>
</div>
<script src="/main.js"></script>
</body>
</html>